@use "variables";

@font-face {
  font-family: 'HeartBreakingBad';
  src: url('../fonts/HeartBreakingBad.otf');
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: variables.$font-main;
  background-color: variables.$color-pistachio;
  color: variables.$color-text-light;

  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}