@font-face {
    font-family: 'HeartBreakingBad';
    src: url('fonts/HeartBreakingBad.otf');
    font-weight: normal;
}

:root {
    --anti-flash-white: #f1f7f6;
    --caribbean-green: #00df81;
    --mountain-meadow: #2cc295;
    --bangladesh-green: #03624c;
    --basil: #0b453a;
    --dark-green: #042222;
    --rich-black: #021a1a;
    --stone: #707d7d;
    --pistachio: #aacbc3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--pistachio);
    color: var(--anti-flash-white);

    min-height: 100dvh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* Header */
.main-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--dark-green);
    color: var(--anti-flash-white);
    padding-inline: 2rem;
    z-index: 1000;
}

.logo {
    font-family: 'HeartBreakingBad', sans-serif;
    font-size: 2.75rem;
    padding: 0.5rem;
}

.blur-bg {
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

nav ul {
    display: flex;
    height: 100%;
}

nav ul li {
    position: relative;
    overflow: hidden;
}

nav ul li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: var(--bangladesh-green);
    transition: height 0.3s ease-in-out;
}

nav ul li:hover::before {
    height: 100%;
}

nav ul li a {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    height: 100%;
    padding: 0 2rem;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

nav ul li a:active {
    position: relative;
    transform: scale(0.90);
}

nav ul li.active a {
    background: var(--caribbean-green);
    background: linear-gradient(310deg, var(--mountain-meadow) 0%, var(--caribbean-green) 100%);
    color: var(--dark-green);
}

.page-main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--dark-green);
}

/* Home page */
body:has(.blur-bg) {
    text-shadow: 0 0 6px var(--rich-black);
}

body:has(.blur-bg) nav ul li.active a {
    text-shadow: none;
    background: rgba(0, 223, 129, 0.75);
    background: linear-gradient(310deg, rgba(44, 194, 149, 0.75) 0%, vargba(0, 223, 129, 0.75) 100%);
}

body:has(.blur-bg) nav ul li::before {
    background-color: rgba(3, 98, 76, 0.75);
}

body:has(.blur-bg) nav ul li.active::before {
    content: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('images/cover.webp') no-repeat center center/cover;
    z-index: -1;
}

.home-main {
    display: grid;
    place-items: center;
}

.home-main h1 {
    font-family: "Underdog", sans-serif;
    font-size: 5rem;
    color: var(--secondary);
    
    text-shadow: 0 0 6px var(--rich-black);
}

/* Menu page */
.menu-main ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 2rem;
}

.menu-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    border-radius: 1.25rem;
    padding: 1rem;

    background-color: var(--anti-flash-white);
    color: var(--dark-green);
    transition: box-shadow 0.2s ease,
                color 0.2s ease,
                transform 0.2s ease;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(47, 83, 110, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(47, 83, 110, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(47, 83, 110, 0.2);
}

.menu-item:hover {
    -webkit-box-shadow: 0px 5px 14px 8px rgba(47, 83, 110, 0.2);
    -moz-box-shadow: 0px 5px 14px 8px rgba(47, 83, 110, 0.2);
    box-shadow: 0px 5px 14px 8px rgba(47, 83, 110, 0.2);

    transform: scale(1.01);
}

.menu-item-image {
    width: 100%;
    aspect-ratio: 1;
    background: var(--stone);
    border: 0;
    border-radius: 0.5rem;
}

.menu-item-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

.menu-item-title {
    width: 100%;
    font-weight: bold;
    font-size: 1.25rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.placeholder {
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--stone);
    color: var(--anti-flash-white);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.menu-item-price {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.price {
    background: var(--caribbean-green);
    background: linear-gradient(310deg, var(--mountain-meadow) 0%, var(--caribbean-green) 100%);
    border-radius: 0.5rem;
    color: var(--dark-green);
    padding: 0.25rem 0.5rem;
    font-weight: bold;
}

.discount {
    background: none;
    text-decoration: line-through;
    color: var(--stone);
    font-weight: normal;
}

.hit-badge::before {
    position: absolute;
    top: 1rem;
    right: 1rem;
    content: "HIT!";
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0 0.5rem;
    background: var(--caribbean-green);
    background: linear-gradient(310deg, var(--mountain-meadow) 0%, var(--caribbean-green) 100%);
    color: var(--dark-green);
}

/* About Us Page */
.about-us-content {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.about-us-image {
    flex: 1;
    height: auto;
    width: 300px;
    border-radius: 1.5rem;
    object-fit: cover;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(47, 83, 110, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(47, 83, 110, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(47, 83, 110, 0.2);
}

.about-us-article {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: left;
    gap: 0.75rem;
    flex-direction: column;
    border-radius: 1.5rem;
    padding: 1.25rem;

    background-color: var(--anti-flash-white);
    color: var(--dark-green);

    -webkit-box-shadow: 0px 5px 10px 2px rgba(47, 83, 110, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(47, 83, 110, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(47, 83, 110, 0.2);
}

.about-us-article p {
    text-align: justify;
}

.about-us-article b {
    font-size: 1.05rem;
    color: var(--bangladesh-green);
}

/* Footer */
footer {
    background-color: var(--dark-green);
    color: var(--anti-flash-white);
    padding: 1.5rem 2rem;
    text-align: center;
}